<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">


  <button class="w3-button w3-white w3-xxlarge" onclick="w3_close()" style="float:right; margin-left:25px;">&times;</button>

  <br><br><br>
  <a routerLink="/" class="w3-bar-item w3-button menus">
    <i class="fas fa-home"></i> &nbsp;
    <b>Home</b> 
  </a> <br>
  
  <a routerLink="/candidatelist" class="w3-bar-item w3-button menus">
   <i class="fas fa-list"></i> &nbsp; 
   <b>Candidates List</b>
  </a> <br>
  
  <a routerLink="/search" class="w3-bar-item w3-button menus">
   <i class="fas fa-search"></i> &nbsp; 
   <b>Search Candidate</b>
  </a> <br>
  
  <a routerLink="/newsletter" class="w3-bar-item w3-button menus">
   <i class="fas fa-business-time"></i> &nbsp; 
   <b>Newsletter</b>
  </a> <br>
  
  <a href="#" class="w3-bar-item w3-button menus">
   <i class="fas fa-lock"></i> &nbsp; <b>Lock</b>
  </a>

</div>


<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="menubar" style="position:fixed; background-color:white; width:100%; height: 70px;">
  <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()" style="transition:0.4s;">
    <img src="/assets/images/menu.png" style="height:37px; width:40px;" />
  </button>
  
  <span class="w3-button w3-white w3-xxlarge locked" style="float:right; margin:0px; transition:0.4s; width: 6.5%;">
   <!-- <img src="/assets/images/locked.png" style="height:30px; width:30px; cursor:pointer;" /> -->

   <i class="fas fa-lock" style="font-size: 25px;"></i>
  </span >
</div>

<router-outlet></router-outlet>
